<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CloudDeploy</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <nav>
        <div class="logo">CloudDeploy</div>

        <div class="nav-links">
            <a href="#home">Home</a>
            <a href="#services">Services</a>
            <a href="#pipeline">Pipeline</a>
        </div>
    </nav>

    <section id="home" class="hero">
        <h1>DevOps Cloud Platform</h1>

        <p>
            Spring Boot application successfully deployed on Kubernetes
            using Jenkins and Argo CD.
        </p>

        <button onclick="showMessage()">
            View Deployment
        </button>
    </section>

    <section id="services" class="services">
        <h2>Technology Stack</h2>

        <div class="cards">

            <div class="card">
                <h3>☕ Spring Boot</h3>
                <p>Java application built using Spring Boot and Maven.</p>
            </div>

            <div class="card">
                <h3>🐳 Docker</h3>
                <p>Application containerized and pushed to Docker Hub.</p>
            </div>

            <div class="card">
                <h3>☸ Kubernetes</h3>
                <p>Application deployed and managed using Kubernetes.</p>
            </div>

        </div>
    </section>

    <section id="pipeline" class="pipeline-section">
        <h2>CI/CD Pipeline</h2>

        <div class="pipeline">
            <span>GitHub</span>
            <span>Jenkins</span>
            <span>Maven</span>
            <span>SonarQube</span>
            <span>Docker</span>
            <span>Docker Hub</span>
            <span>Argo CD</span>
            <span>Kubernetes</span>
        </div>
    </section>

    <footer>
        DevOps CI/CD Project © 2026
    </footer>

    <script src="/script.js"></script>

</body>
</html>
